
    <!-- Begin page content -->
    <main role="main">
      <h1 class="mt-5">Angular</h1>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
      <p>Back to <a href="products">products</a></p>
      <button class="btn btn-default" id="test-login">Login</button>
      <button class="btn btn-default" id="test-session">Check session</button>
    </main>
    <!-- End page content -->