
<div class="row align-items-center ontop">
    <div ng-repeat="article in articles" class="col-12 col-sm-6 col-mg-4 col-lg-3">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
                style="height: 165px; width: 100%;" src="https://writology.com/userdata/faq/write.jpg"
                data-holder-rendered="true">
            <div class="card-body">
                {{article.name + article.image}}
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>


