
<div class="row align-items-center ontop">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <h1>{{title}}</h1>
        <form ng-submit="auth()">
            <div class="form-group">
                <label for="input-name">Name</label>
                <input name="name" type="text" class="form-control" id="input-name" aria-describedby="name" placeholder="Enter your nickname">
                <small class="form-text text-danger" ng-if="errors.name">{{errors.name[0]}}</small>
            </div>
            <div class="form-group">
                <label for="input-password">Password</label>
                <input name="password" type="text" class="form-control" id="input-password" placeholder="Password">
                <small class="form-text text-danger" ng-if="errors.password">{{errors.password[0]}}</small>            
            </div> 
            <button type="submit" class="send-form btn btn-primary">Submit</button>{{user}}  
        </form>
    </div> 
</div>



<!-- <div class="row">
    <div ng-repeat="product in [1,2,3]" class="col-6 col-md-4">.col-6 .col-md-4</div>
</div> -->
